@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

html {
    line-height: 1.2;
    font-family: sans-serif;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../../img/bg.jpg');
    background-position: center;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Courgette', cursive, sans-serif;
    color: #40154b;
}

button {
    cursor: pointer;
}
